body,
html {
  height: 100%;
}

#nav-logo {
  color: #ffffff;
}



.stizar {
  width: 100%;
  height: 100%;
  padding-top: 50%;
  position: relative;
}

#logo {
  max-height: 100%;
  max-width: 100%;
  width: 75%;
  height: 75%;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

#logo-text {
  position: relative;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
}

#hrHome {
  border: 1px solid #444444;
}



.section2 {
  min-height: 100%;
  background-color: #2196f3;
  opacity: 0.1;
}

#TextArea1 {
  background-color: #444444;
  height: 400px;
  width: 400px;
  margin-left: 50%;
  margin-right: 50%;
  transform: translateX(-50%);
}

.section3 {
  min-height: 100%;
  background-color: #ffffff;
}

.sec {
  position: relative !;
  background-color: #d1d4dd;
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#logo-text {
  animation: fill 1.2s ease forwards;
  animation-delay: 4.5s;
}







#logo-text path:nth-child(1) {
  stroke-dasharray: 607.349;
  stroke-dashoffset: 607.349;
  animation: line-anim 2s ease forwards 0.2s;
}

#logo-text path:nth-child(2) {
  stroke-dasharray: 242.015;
  stroke-dashoffset: 242.015;
  animation: line-anim 2s ease forwards 0.3s;
}

#logo-text path:nth-child(3) {
  stroke-dasharray: 393.38;
  stroke-dashoffset: 393.38;
  animation: line-anim 2s ease forwards 0.6s;
}

#logo-text path:nth-child(4) {
  stroke-dasharray: 437.619;
  stroke-dashoffset: 437.619;
  animation: line-anim 2s ease forwards 0.9s;
}

#logo-text path:nth-child(5) {
  stroke-dasharray: 533.4;
  stroke-dashoffset: 533.4;
  animation: line-anim 2s ease forwards 1.2s;
}

#logo-text path:nth-child(6) {
  stroke-dasharray: 292.3;
  stroke-dashoffset: 292.3;
  animation: line-anim 2s ease forwards 1.5s;
}

#logo-text path:nth-child(7) {
  stroke-dasharray: 451.581;
  stroke-dashoffset: 451.581;
  animation: line-anim 2s ease forwards 1.8s;
}

#logo-text path:nth-child(8) {
  stroke-dasharray: 232.7;
  stroke-dashoffset: 232.7;
  animation: line-anim 2s ease forwards 2.1s;
}

#logo-text path:nth-child(9) {
  stroke-dasharray: 480.28;
  stroke-dashoffset: 480.28;
  animation: line-anim 2s ease forwards 2.4s;
}

#logo-text path:nth-child(10) {
  stroke-dasharray: 451.583;
  stroke-dashoffset: 451.583;
  animation: line-anim 2s ease forwards 2.7s;
}

#logo-text path:nth-child(11) {
  stroke-dasharray: 327.1;
  stroke-dashoffset: 327.1;
  animation: line-anim 2s ease forwards 3s;
}

#logo-text path:nth-child(12) {
  stroke-dasharray: 437.62;
  stroke-dashoffset: 437.62;
  animation: line-anim 2s ease forwards 3.3s;
}





@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }

  to {
    fill: #444444;
  }
}

@keyframes fillLogo {
  from {
    fill: transparent;
  }

  to {
    fill: #2196f3;
  }
}